@tailwind base;
@tailwind components;
@tailwind utilities;

.home-background {
    background-image: url("/homebg.svg");
    background-repeat: no-repeat;
    /*background-size: cover;*/
}

.bookmark-background {
    background-image: url("/images/gradient.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.blog-background {
    background-image: url("/blogBg.svg");
    background-repeat: no-repeat;
    /*background-size: cover;*/
}

html {
    scroll-behavior: smooth;
}

.active {
    color: white !important;
}

.active-class {
    @apply text-bgBlack font-black;
}

.active-link {
    @apply text-white font-black;
}